{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenu sur l'interface de mon porte folio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, accusantium. Accusamus vero corporis, minima inventore, excepturi explicabo ab, similique aliquam earum rem saepe fugit neque voluptas. Quasi quas perspiciatis omnis ea doloremque, eum voluptatum, nam fugiat soluta architecto eos vel!</p>
<p>Ipsam itaque cupiditate mollitia neque alias eum soluta sint distinctio, possimus voluptates ad nobis asperiores quos voluptatum labore eius eligendi voluptate omnis temporibus doloremque commodi. Perspiciatis cum modi, totam neque exercitationem doloribus facere, dolorem, porro rerum corrupti hic et vitae.</p>
<p>Tempore ut quae, neque commodi vitae, debitis delectus quos officia velit ex pariatur eveniet veritatis exercitationem cupiditate fuga dolorum minus nisi, nobis at dicta quam quasi facilis assumenda. Porro quas eius esse aspernatur autem consequatur architecto unde sequi itaque molestias.</p>
{% endblock %}